.accordion-outer {
  grid-column-end: 13;
}

.info-accordion {
  position: relative;
  background-color: $color-primary-dark;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  text-transform: uppercase;
  &:after,
  &:before {
    border-right: 2px solid $color-secondary-dark;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    transform: rotate(135deg);
    right: 2rem;
    top: 46%;
    width: 0;
    margin-top: -8px;
  }

  &:after {
    margin-top: -1px;
    transform: rotate(45deg);
  }

  .auto-counter {
    text-transform: uppercase;
    font-weight: 100;
  }

  svg {
    height: 2rem;
    width: 2rem;
    justify-self: flex-end;

    path {
      fill: white;
    }
  }
}

.text-content .info-active {
  margin-bottom: 0;

  svg {
    transform: rotate(270deg);
  }
}

.info-panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 0.5rem;
}
