.section {
  &.directory {
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 3rem;
    h2,
    .file-type {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.2rem;
    }
    .light-text {
      font-weight: 700;
    }
    .sub-text {
      font-weight: 300;
    }
    img {
      padding: 2rem 0;
    }
  }
}
