// COLORS
$color-primary: #6abdff;
$color-primary-light: #cebe63;
$color-primary-dark: #1c3245;

$color-secondary-light: #ffb900;
$color-secondary-dark: #32495d;

$color-tertiary-light: #a0afbc;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #111;

$color-white: #fff;
$color-off-white: #f2f2f2;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$light-font-weight: 400;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
