// .navigation {
//     &__checkbox {
//         display: none;
//     }

//     &__button {
//         background-color: $color-white;
//         height: 7rem;
//         width: 7rem;
//         position: fixed;
//         top: 6rem;
//         right: 6rem;
//         border-radius: 50%;
//         z-index: 2000;
//         box-shadow: 0 1rem 3rem rgba($color-black, .1);
//         text-align: center;
//         cursor: pointer;

//         @include respond(tab-port) {
//             top: 4rem;
//             right: 4rem;
//         }

//         @include respond(phone) {
//             top: 3rem;
//             right: 3rem;
//         }
//     }

//     &__background {
//         height: 6rem;
//         width: 6rem;
//         border-radius: 50%;
//         position: fixed;
//         top: 6.5rem;
//         right: 6.5rem;
//         background-image: radial-gradient($color-primary-light, $color-primary-dark);
//         z-index: 1000;
//         transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

//         @include respond(tab-port) {
//             top: 4.5rem;
//             right: 4.5rem;
//         }

//         @include respond(phone) {
//             top: 3.5rem;
//             right: 3.5rem;
//         }
//     }

//     &__nav {
//         height: 100vh;
//         position: fixed;
//         top: 0;
//         left: 0;
//         z-index: 1500;

//         opacity: 0;
//         width: 0;
//         transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//     }

//     &__list {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         list-style: none;
//         text-align: center;
//         width: 100%;
//     }

//     &__item {
//         margin: 1rem;
//     }

//     &__link {
//         &:link,
//         &:visited {
//             display: inline-block;
//             font-size: 3rem;
//             font-weight: 300;
//             padding: 1rem 2rem;
//             color: $color-white;
//             text-decoration: none;
//             text-transform: uppercase;
//             background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
//             background-size: 220%;
//             transition: all .4s;

//             span {
//                 margin-right: 1.5rem;
//                 display: inline-block;
//             }
//         }

//         &:hover,
//         &:active {
//             background-position: 100%;
//             color: $color-primary;
//             transform: translateX(1rem);
//         }
//     }

//     //FUNCTIONALITY
//     &__checkbox:checked ~ &__background {
//         transform: scale(80);
//     }

//     &__checkbox:checked ~ &__nav {
//         opacity: 1;
//         width: 100%;
//     }

//     //ICON
//     &__icon {
//         position: relative;
//         margin-top: 3.5rem;

//         &,
//         &::before,
//         &::after {
//             width: 3rem;
//             height: 2px;
//             background-color: $color-grey-dark-3;
//             display: inline-block;
//         }

//         &::before,
//         &::after {
//             content: "";
//             position: absolute;
//             left: 0;
//             transition: all .2s;
//         }

//         &::before { top: -.8rem; }
//         &::after { top: .8rem; }
//     }

//     &__button:hover &__icon::before {
//         top: -1rem;
//     }

//     &__button:hover &__icon::after {
//         top: 1rem;
//     }

//     &__checkbox:checked + &__button &__icon {
//         background-color: transparent;
//     }

//     &__checkbox:checked + &__button &__icon::before {
//         top: 0;
//         transform: rotate(135deg);
//     }

//     &__checkbox:checked + &__button &__icon::after {
//         top: 0;
//         transform: rotate(-135deg);
//     }
// }
.navigation .nav {
  @include respond(tab-port) {
    display: none;
  }
}
.navigation {
  background: $color-off-white;
  font-family: "roboto";
  position: sticky;
  top: 0;
  z-index: 99;
  transition: all 1s ease-in-out;
  .nav-holder {
    @include respond(tab-port) {
      display: flex;
    }
    .row {
      margin-bottom: 0;
      &.lower-nav {
        margin-top: -2rem;
        @include respond(tab-port) {
          display: none;
        }
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    transition: all 1s ease-in-out;
    @include respond(tab-port) {
      height: 5rem;
    }
  }
}
.nav-logo {
  display: flex;
  flex-direction: row;

  svg {
    flex-grow: 0.01;
    transition: all 2s ease-in-out;
  }
}
#menu-toggle {
  display: none;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 1rem;
  position: relative;
  position: relative;
  cursor: pointer;
  // background: rgba(255, 255, 255, .4);
  grid-column: span 6;
  @include respond(tab-port) {
    width: unset;
    height: unset;
    display: block;
    background: $color-primary-dark;
    margin: 0 4rem;
    padding: 2rem;
  }

  .mobile-menu {
    height: 0;
    overflow: hidden;
  }

  span {
    display: block;
    background: $color-primary;
    border-radius: 2px;
    transition: 0.25s ease-in-out;
  }

  &:hover {
    // background: rgba(255, 255, 255, .8);
  }

  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0.25rem;
    span {
      width: 60px;
      height: 4px;
      position: relative;
      top: 24px;
      left: 20px;
      margin: 10px 0;

      &:nth-child(1) {
        transition-delay: 0.5s;
      }

      &:nth-child(2) {
        transition-delay: 0.625s;
      }

      &:nth-child(3) {
        transition-delay: 0.75s;
        width: 2.5rem;
      }
    }
    @include respond(tab-port) {
      width: auto;
      height: auto;
      top: 3.25rem;
      span {
        width: 5rem;
        height: 2px;
        position: relative;
        top: 0px;
        left: 0;
        margin: 7px 0;
      }
    }
  }

  #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);

    span {
      &:nth-child(1) {
        height: 0%;
        width: 4px;
        position: absolute;
        top: 10%;
        left: 48px;
        transition-delay: 0s;
      }

      &:nth-child(2) {
        width: 0%;
        height: 4px;
        position: absolute;
        left: 10%;
        top: 48px;
        transition-delay: 0.25s;
      }
    }
  }
}

#menu-toggle.open {
  .mobile-menu {
    height: 100vh;
  }

  #hamburger {
    span {
      width: 0%;

      &:nth-child(1) {
        transition-delay: 0s;
      }

      &:nth-child(2) {
        transition-delay: 0.125s;
      }

      &:nth-child(3) {
        transition-delay: 0.25s;
      }
    }
  }

  #cross {
    span {
      &:nth-child(1) {
        height: 80%;
        transition-delay: 0.625s;
      }
    }

    span {
      &:nth-child(2) {
        width: 80%;
        transition-delay: 0.375s;
      }
    }
  }
}

/* The Overlay (background) */
.overlay {
  max-height: 0;
  width: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  transition: 0.5s;
  height: 100vh;
  background: $color-off-white;
  //   @include harshBlur;

  &.open {
    max-height: 100vh;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    .overlay-content {
      opacity: 1;
      transition: 0.5s;
    }
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.overlay a {
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  line-height: 1.4em;
  font-weight: 400;
  font-size: 2.5rem;
  color: $color-primary;
}

.overlay a:hover,
.overlay a:focus {
}

.overlay-button {
  margin-top: 2rem;
  padding: 0.5rem 0;

  a {
  }
}
.contact-button {
  background: $color-primary-dark;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 11/13;
  margin-bottom: -4.2rem;
  margin-top: -10rem;
  z-index: 1;
  transition: all 1s ease-in-out;
  @include respond(tab-port) {
    display: none;
  }
  .sign-in,
  .sign-out {
    background: $color-primary;
    text-align: center;
    padding: 1rem;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $color-white;
    }
  }
  .sign-out {
    display: none;
  }
  a {
    color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    text-decoration: none;
  }
  .logged-in .sign-in {
    display: none;
  }
  .logged-in .sign-out {
    display: block;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
}
.nav {
  grid-column: 3/11;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1.3rem;
    transition: all 1s ease-in-out;
    li {
      padding: 0 4rem;
      text-align: center;
      a {
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 0.1rem;
        display: block;
        color: $color-primary-dark;
        &:after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          width: 100%;
          height: 1px;
          background: $color-primary;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }
        &.active {
          &:after {
            transform: scaleX(1);
          }
        }
      }
      &.current-menu-item {
        a {
          color: $color-primary;
        }
      }
    }
  }
}
.scrolled {
  .navigation {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.95;
    .container {
      height: 6rem;
      @include respond(tab-port) {
        height: 5rem;
      }
    }
    .nav ul {
      padding-top: 2rem;
    }
  }
  .contact-button {
    margin-bottom: 0;
  }
  .nav {
    display: none;
  }
  .nav-logo {
    svg {
      flex-grow: 1;
    }
  }
}
#close-menu {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-transform: uppercase;
  transform: rotate(45deg);
  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    width: 0;
    height: 2px;
    background: $color-primary;
    transition: all 0.3s ease;
  }
  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    height: 0;
    background: $color-primary;
    transition: all 0.3s 0.3s ease;
  }
}
.open {
  #close-menu {
    &:before {
      width: 100%;
    }
    &:after {
      height: 100%;
    }
  }
}
#main-menu-toggle {
  display: none;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 1rem;
  position: relative;
  position: relative;
  cursor: pointer;
  // background: rgba(255, 255, 255, .4);
  border-radius: 5px;
  grid-column: span 6;
  @include respond(tab-port) {
    display: block;
    height: 5rem;
    width: 100%;
  }

  .mobile-menu {
    height: 0;
    overflow: hidden;
  }

  span {
    display: block;
    background: $color-primary;
    border-radius: 2px;
    transition: 0.25s ease-in-out;
  }

  &:hover {
    // background: rgba(255, 255, 255, .8);
  }

  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0.25rem;
    span {
      width: 40px;
      height: 4px;
      position: relative;
      top: 24px;
      left: 24px;
      margin: 10px 0;

      &:nth-child(1) {
        transition-delay: 0.5s;
      }

      &:nth-child(2) {
        transition-delay: 0.625s;
      }

      &:nth-child(3) {
        transition-delay: 0.75s;
        width: 20px;
      }
    }
    @include respond(tab-port) {
      width: auto;
      height: auto;
      span {
        width: 5rem;
        height: 2px;
        position: relative;
        top: 0px;
        left: 0;
        margin: 7px 0;
      }
    }
  }

  #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);

    span {
      &:nth-child(1) {
        height: 0%;
        width: 4px;
        position: absolute;
        top: 10%;
        left: 48px;
        transition-delay: 0s;
      }

      &:nth-child(2) {
        width: 0%;
        height: 4px;
        position: absolute;
        left: 10%;
        top: 48px;
        transition-delay: 0.25s;
      }
    }
  }
}
.scrolled #main-menu-toggle {
  display: block;
}
